<!-- Header Nav Bar -->

<div class="navbar">
    <a href="/">// Home</a>
    <a href="/about">// About Me</a>
    <a href="/projects">// Projects</a>
    <a href="/database">// Database Diagrams</a>
    <a href="/apitests">// API Unit Tests</a>
    <a href="/resume">// Resume</a>
  </div>