<!-- Header Nav Bar -->
<header>
    <div class="navbar">
        <a href="/">// Home</a>
        <a href="">// About Me</a>
        <a href="">// Projects</a>
        <a href="">// Resume</a>
    </div>
</header>