:root {
  --primary: #56b6fc;
  --secondary: #9fd3f9;
  --accent: #54b3f7;
  --card-hover: #b2a3fb5d;
}

html,
body {
  background-color: #5ca0f2;
  background-image: linear-gradient(315deg, #5ca0f2 0%, #b4fdf7 74%);
  font-family: "Ubuntu", arial, sans-serif;
  height: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  overflow: hidden;
  top: 0;
  text-align: center;
  padding: 16px 14px;
  /* background-color: #56b7fcaf; */
  border-radius: 20px;
  margin: 10px;
  /* border: #000000 2px solid; */
}

.navbar a {
  float: none;
  color: #000000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
  padding: 10px;
}



.footer {
  text-align: center;
  margin-left: -10px;
  padding: 16px 14px;
  color: black !important;
}

.footer a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.title {
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: #54B3F7 !important;
  transition: 300ms ease-in-out;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.introitem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 200px;
  text-align: center;
}

.introitem img {
  max-height: 300px;
  width: auto;
  border-radius: 50%;
  box-shadow: 3px 2px 15px 0px #b2a3fa;
}

.introitem-text {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

#firstname {
  font-weight: 700;
  font-size: 72px;
  float: left;
}

#lastname {
  font-weight: 700;
  font-size: 72px;
}

#shortintro {
  font-weight: 500;
  font-size: 60px;
  padding-bottom: 100px;
}

.introsentence {
  padding-top: 40px;
}

.skills {
  padding-top: 200px;
  text-align: center;
  padding: 10px;
}

/* .grid-equal-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
} */

.grid-equal-columns {
  display: flex;
  flex-wrap: wrap;
}

.grid-equal-columns .card {
  flex: 1 0 21em; /* Adjust this value to change the minimum width of a card */
  margin: 1em;
}

@media screen and (max-width: 600px) {
  .grid-equal-columns .card {
    flex: 1 0 100%;
  }
}

.grid-equal-columns {
  display: flex;
  flex-wrap: wrap;
}

.grid-equal-columns .card {
  flex: 1 0 21em; /* Adjust this value to change the minimum width of a card */
  margin: 1em;
}

@media screen and (max-width: 600px) {
  .grid-equal-columns .card {
    flex: 1 0 100%;
  }
}

.grid-2-equal-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  height: 50vh;
}

.card {
  box-shadow: 12px 12px 8px 12px rgba(rgb(0, 0, 0), green, blue, alpha);
  transition: 0.3s;
  border-radius: 20px;
  padding: 2%;
  background-color: #ffffff75;
}

.card-title {
  font-size: 24px;
  font-weight: 400;
  padding: 5px;
  text-align: center;
}

.card-content {
  font-size: 18px;
  padding-bottom: 2px;
  text-align: center;
  height: 100%;
}

.card:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}

.grid-2-equal-columns img {
  width: 400px;
  border-radius: 20px;
  place-content: center;
}

.about1  {
  float: right;
}

.about-section-2 {
  width: 400px;
}

.about-section-3 {
float: left;
width: 400px;
}

.about-section-4 {
  text-align: right;
}

.card-links {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding-top: 20px;

}

.source-button {
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  width: 24%;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: var(--primary);
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: 0.2s ease, color 0.2s ease, 0.2s ease;
  width: 1fr;
  margin: 0 auto;
  text-align: center;
}

.source-button:hover {
  background: var(--accent);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.live-button {
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: var(--primary);
  color: white;
  font-weight: 400;
  font-size: 16px;
  transition: 0.2s ease, color 0.2s ease, 0.2s ease;
  text-align: center;
}

.live-button:hover {
  background: var(--accent);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.resume {
  font-size: 18px;
}

.resume-pdf {
  padding-bottom: 10px;
}

p {
  font-size: 18px;
}

#resumescreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 12px 12px 8px 12px rgba(rgb(0, 0, 0), green, blue, alpha);
  border-radius: 10px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #007BFF;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.cursor {
  border-right: 4px solid black; 
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}


.card-container {
  max-width: 75%;
  margin: 0 auto;
}

#nodeshopper img,
#nodetech img,
#nodebookco img,
#nodesecurity img{  
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.apiimage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 300px;
  transition:transform 0.25s ease;
}

.apiimage img:hover {
  -moz-transform: scale(2.5);
  --webkit-transform: scale(2.5);
  transform: scale(2.5);
}

.video-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

video {
  max-width: 350px;

}

@media (max-width: 768px) {
  .grid-equal-columns {
    grid-template-columns: 1fr; 
  }
}