<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/header.ejs') %>

  <div class="container">
    <main>
      <div class="intro">
        <div class="introitem">
          <img src="images/profile.png" alt="Profile Picture">
          <div class="introitem-text">
            <div>
              <span id="firstname">Justin</span><br>
              <span id="lastname">Barlowe</span>
            </div>
          </div>
        </div>
        <div class="introsentence">
            <span id="shortintro">&lt; I'm a Fullstack Developer /&gt;</I></span>
          </div>
      </div>
      <div class="skills">
        <div class="grid-equal-columns">
            <div class="card">
              <h1>Frontend</h1>
              <p>HTML5</p>
              <p>CSS3</p>
              <p>JavaScript</p>
            </div>
            <div class="card">
              <h1>Backend</h1>
              <p>Node.Js</p>
              <p>Express</p>
              <p>Mongoose</p>
              <p>MongoDB</p>
              <p>RESTful APIs</p>
            </div>
            <div class="card">
              <h1>Other Skills</h1>
              <p>Git</p>
              <p>GitHub</p>
              <p>Version Control</p>
              <p>VSCode</p>
              <p>Excel</p>
            </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </div>
</body>
